* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(116, 167, 233, 0.226);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(33deg, #ff3d67, #7128fa);
  height: 100px;
  width: 10px;
  border-radius: 10px;
}
.main-heading {
  width: 100%;
  text-align: center;
  font-size: 2.3rem;
  background: linear-gradient(to left, #6644fc, #50c1f5, #a329d3) repeat;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  color: #4609b8;
  animation: left-right ease-out 3s infinite;
  margin: 30px 0;
}

.lightblue {
  width: 100%;
  background-color: rgba(208, 226, 250, 0.226);
  padding: 20px 0;
}

@keyframes left-right {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/*header */
.nav {
  z-index: 999;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: linear-gradient(45deg, #4609b8, #67068d);
  color: #fff;
  width: 100%;
  padding: 10px;
}

.logo-box {
  display: flex;
  width: 100%;
  align-items: center;
}
.logo-box > p {
  margin-left: 10px;
  line-height: 70px;
  font-size: 20px;
  font-family: Raleway, sans-serif;
  letter-spacing: 1px;
}
.logo {
  width: 50px;
  height: 50px;
}
.ham {
  height: 100%;
  width: 30px;
  text-align: center;
  display: none;
  z-index: 300;
  display: none;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}
.bar1 {
  transform: rotate(45deg) translate(3px, 5px);
  transition: linear 0.3s;
}

.bar2 {
  transform: scale(0);
  transition: linear 0.3s;
}
.bar3 {
  transform: rotate(-45deg) translate(7px, -10px);
  transition: linear 0.3s;
}
.menu {
  display: flex;
}

.menuitems {
  text-decoration: none;
  text-transform: capitalize;
  color: #ebe6e6;
  width: 85px;
  height: 70px;
  margin: 0 10px;
  font-size: 16px;
  line-height: 70px;
  letter-spacing: 0.5px;
  font-family: Muli, sans-serif;
  position: relative;
  text-align: center;
}

.menuitems:nth-child(1)::after,
.menuitems:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #fff;
  border-radius: 5px;
}
.menuitems:nth-child(3) a {
  border: 2px solid #fff;
  height: 35px;
  margin-top: 18px;
  line-height: 25px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.6s;
}

.menuitems:nth-child(3):hover a {
  color: #4609b8;
  background-color: #fff;
}
.collapse {
  z-index: 100;
  position: absolute;
  top: 70px;
  width: 150px;
  background-color: #fff;
  background: linear-gradient(33deg, #4609b8, #67068d);
  display: flex;
  flex-direction: column;
  max-height: 0px;
  overflow: hidden;
  transition: 0.6s;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menuitems:nth-child(odd) .collapse {
  right: 0;
}
.menuitems:nth-child(even) .collapse {
  left: 0;
}
.menuitems:nth-child(1):hover .collapse,
.menuitems:nth-child(2):hover .collapse {
  max-height: 300px;
  transition: linear 1s;
}
.collapse:nth-child(odd) {
  position: absolute;
  top: 70px;
  right: 0;
}
.collapse:nth-child(even) {
  position: absolute;
  top: 230px;
  right: 0;
}
.subitems {
  text-decoration: none;
  height: 40px;
  color: #fff;
  line-height: 40px;
  border-radius: 5px;
  margin: 2px 1px;
  text-align: center;
  transition: 0.4s;
}
.subitems:hover {
  background: none;
  background-color: #fff;
  color: #4609b8;
}

.background-blur {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(2, 2, 2, 0.5);
  z-index: 100;
}
.sidebar {
  position: fixed;
  right: 0;
  z-index: 200;
  background-color: #831ac9;
  background-image: linear-gradient(45deg, #4609b8, #67068d);
  width: 70%;
  height: 100%;
  max-width: 400px;
  animation: grow ease-in-out 1.5s forwards;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-items {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  margin: 8px 0;
  width: 140px;
  height: 35px;
  text-align: center;
  font-family: Muli, sans-serif;
  letter-spacing: 1px;
}
.sidebar-items:hover {
  color: #74fcea;
  border-bottom: 3px solid #74fcea;
}
@keyframes grow {
  0% {
    clip-path: circle(1% at 100% 0%);
  }
  100% {
    clip-path: circle(200% at 100% 0%);
  }
}

/*banner*/

.banner {
  position: relative;
  background-size: cover;
  background-position: 30% 30%;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  background-image: url("./student-with-laptop.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}
.banner::after {
  content: "";
  width: 100%;
  height: 600px;
  background-color: rgba(8, 8, 8, 0.75);
  position: absolute;
  z-index: 90;
}
.banner-content {
  position: absolute;
  z-index: 99;
  color: #fff;
  text-align: center;
  padding: 15px;
}
.banner-heading {
  font-family: Raleway, sans-serif;
  width: 100%;
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: center;
}
.banner-text {
  font-family: Muli, sans-serif;
  width: 100%;
  font-size: 1.05rem;
  max-width: 700px;
  text-align: center;
  line-height: 30px;
}
.banner-btn {
  margin-top: 30px;
  color: #fff;
  border: none;
  width: 200px;
  height: 50px;

  font-size: 1rem;
  line-height: 50px;
  background: linear-gradient(to left, #4609b8, #b26fff, #4609b8) repeat;
  background-size: 200%;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(236, 235, 235, 0.445);
}
.banner-btn:hover {
  background-position: right;
}
.topwave {
  width: 100%;
  height: 150px;
  position: absolute;
  z-index: 98;
  bottom: 0;
}

/*banner*/
/*header*/

/*content */

/*work*/
.story {
  width: 100%;
  padding: 15px;
  max-width: 900px;
  min-height: 300px;
  margin: 10px auto;
  color: #444;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  word-spacing: 2px;
  background-color: #fff;
}
.story > h2,
.work-container > h2 {
  font-size: 26px;
  line-height: 30px;
}
.story > p {
  width: 80%;
  margin: auto;
  font-family: Muli, sans-serif;
}
.work-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  padding: 15px 0;
}

.work {
  background-color: #fff;
  width: 100%;
  margin: 15px;
  max-width: 260px;
  height: 210px;
  border: 0.5px solid #bfd8ff;
  overflow: hidden;
  border-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: 0.6s;
}
.work > img {
  width: 100%;
  height: 160px;
}
.work > p {
  color: #444;
  margin: 0px;
  text-align: center;
  font-size: 17px;
  line-height: 35px;

  font-family: Muli, sans-serif;
}

.work:hover > h1::after {
  width: 80%;
}

.work:hover {
  transform: translateY(10px);
  box-shadow: 0 0 10px 3px rgba(11, 86, 199, 0.15);
}
/*work*/

/*Institutes*/
.institute-container {
  width: 100%;
  max-width: 900px;
  min-height: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  padding: 10px;
}
.institute {
  width: 100%;
  max-width: 260px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(208, 226, 250, 0.326);
  transition: 0.6s;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.institute:hover {
  transform: translateY(10px);
  box-shadow: 0 0 10px 5px rgba(208, 226, 250, 0.326),
    0 0 20px 10px rgba(208, 226, 250, 0.326);
}
.institute > img {
  width: auto;
  height: 150px;
}
.institute > p {
  color: #444;
  text-align: center;
  line-height: 40px;
  font-size: 17px;
  font-weight: 600;
  font-family: Muli, sans-serif;
}
/*Institutes*/

/*mentor*/
.mentors-container {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.mentor-box {
  width: 100%;
  min-width: 280px;
  max-width: 350px;
  height: 370px;
  margin: 20px;
  background-size: 200%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px 1px rgba(95, 164, 243, 0.2),
    0px 0px 10px 5px rgba(95, 164, 243, 0.1);
  transition: 0.6s;
}

.mentor-box:hover {
  background-position: right;
  transform: translateY(-10px);
  box-shadow: inset 0px 0px 5px 1px rgba(95, 164, 243, 0.2),
    0px 0px 30px 10px rgba(95, 164, 243, 0.2);
}
.mentor-img-box {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #fff;
  overflow: hidden;
  margin: 20px auto auto;
  box-shadow: 0 0 5px 0px #dfedff, 0 0 5px 3px #dfedff;
}
.mentor-image {
  width: 100%;
  height: 120px;
}
.mentor-name {
  background: linear-gradient(33deg, #4609b8, #5ad9ff, #06458d);
  background-size: 300%;
  background-position: 10% 0%;
  height: 40px;
  width: 85%;
  margin: 10px auto;
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  transition: 1s;
  font-family: Poppins, sans-serif;
}
.mentor-box:hover .mentor-name {
  background-position: right;
}
.about-mentor {
  width: 100%;
  margin: auto;
  height: 100%;
  padding: 15px;
  font-size: 13px;
  line-height: 22px;
  color: #444;
  text-align: center;
  font-family: Muli, sans-serif;
}
/*mentor*/

/*review*/
.our-ratings {
  width: 100%;
  max-width: 900px;
  background: linear-gradient(33deg, #4609b8, #67068d);
  color: #fff;
  padding: 10px;
  height: 80px;
  border-radius: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.our-ratings > img {
  width: 60px;
  height: 60px;
}
.our-ratings > p {
  font-size: 25px;
  height: 50px;
  line-height: 45px;
  font-family: Muli, sans-serif;
}
#review-container {
  width: 100%;
  max-width: 900px;
  height: 500px;
  position: relative;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-box {
  width: 100%;
  min-width: 260px;
  max-width: 320px;
  height: 420px;
  background: linear-gradient(66deg, #4609b8, #a42bf5, #4609b8) repeat;
  background-size: 200%;
  border-radius: 10px;
  color: #222;
  position: absolute;
  overflow: hidden;
  animation: slide-shrink linear 8s;
  transition: 0.8s;
  box-shadow: 0 0 5px 0px #dfedff;
}

.clip-two {
  position: absolute;
  bottom: 0px;
  clip-path: none;
  width: 100%;
  height: 420px;
  clip-path: circle(72% at 50% 100%);
  background-color: #fff;
  box-shadow: 0 0 5px 0px #dfedff, 0 0 5px 3px #dfedff;
}

.reviewer-image-box {
  width: 115px;
  height: 115px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 90px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 5px 0px #dfedff, 0 0 5px 3px #dfedff;
}
.reviewer-image {
  height: 115px;
  width: 100%;
}
.review {
  width: 100%;
  height: 160px;
  background-color: transparent;
  position: absolute;
  bottom: 60px;
  color: #444;
  padding: 10px 15px;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  font-family: Muli, sans-serif;
}

.reviewer-info {
  position: absolute;
  width: 100%;
  background: linear-gradient(66deg, #4609b8, #a42bf5, #4609b8) repeat;
  background-size: 200%;
  height: 50px;
  bottom: 0px;
  text-align: center;
  padding: 5px;
  transition: 0.8s;
}

.review-box:hover .reviewer-info {
  background-position: right;
}

.review-box:hover {
  background-position: right;
}
.reviewer-info > h3 {
  font-size: 19px;
  color: #efefef;
  line-height: 25px;
  font-family: Poppins, sans-serif;
}

.reviewer-info > p {
  color: #efefef;
  font-size: 12px;
  line-height: 16px;
  font-family: Muli, sans-serif;
}

@keyframes slide-shrink {
  0% {
    margin: auto;
    opacity: 0.2;
    top: 50%;
    left: 0%;
    transform: scale(0.5) translate(-50%, -100%);
  }

  10% {
    margin: auto;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  90% {
    margin: auto;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    margin: auto;
    opacity: 0.2;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(-100%, -100%);
  }
}

/*review*/

/*content */

/*footer*/
.footer {
  overflow: hidden;
  width: 100%;
  background: linear-gradient(33deg, #4609b8, #67068d);
}
.bottomwave {
  width: 100%;
  height: 100px;
  background-color: #f2f7fd;
}
.footer-box {
  width: 100%;
  height: auto;
  display: flex;
}
.footer-col {
  width: 33.33%;
  line-height: 30px;
  color: #efefef;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-family: Muli, sans-serif;
}
.footer-col:nth-child(1),
.footer-col:nth-child(2) {
  border-right: 2px solid #efefefa9;
}
.footer-col > img {
  width: 100%;
  max-width: 150px;
  margin: auto;
}
.footer-col > h2 {
  margin: 7px 0;
  font-family: Muli, sans-serif;
}
.fa {
  font-size: 25px;
  padding: 5px 10px 0 0;
}
.copyright {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #eee;
  font-family: Poppins, sans-serif;
}

/*footer*/

/*media queried*/
@media (min-width: 769px) {
  body {
    position: relative;
    color: red;
  }
}
@media (max-width: 768px) {
  .main-heading {
    font-size: 1.9rem;
  }
  .menu {
    display: none;
  }
  .sidebar {
    display: flex;
  }
  .ham {
    display: flex;
  }
  .background-blur {
    display: block;
  }
  .topwave,
  .bottomwave {
    height: 100px;
  }
}

@media (max-width: 500px) {
  .review-box,
  .work,
  .mentor-box {
    margin: 10px 5px;
  }
  .main-heading {
    font-size: 1.95rem;
  }
  .logo {
    font-size: 22px;
  }
  .sidebar-items {
    font-size: 17px;
  }
  .ham {
    width: 27px;
  }
  .topwave,
  .bottomwave {
    height: 60px;
  }
  .story > p {
    width: 100%;
    margin: auto;
  }
  .work,
  .institute {
    width: 100%;
    max-width: 380px;
    height: 250px;
  }
  .work > img,
  .institute > img {
    height: 200px;
  }
  .work > p,
  .institute > p {
    line-height: 35px;
  }
  .our-ratings > p {
    font-size: 15px;
  }
  .footer-box {
    flex-direction: column;
  }
  .footer-col {
    width: 100%;
    padding: 10px;
  }
  .footer-col:nth-child(1),
  .footer-col:nth-child(2) {
    border: none;
    border-bottom: 1px solid #efefefa9;
  }
  .footer-col > img {
    width: 100%;
    max-width: 120px;
    margin: auto;
  }
}
